:root {
--color-plan: hsl(225, 100%, 94%);
--btn-blue: hsl(245, 75%, 52%);
--color-btn: hsl(225, 100%, 98%);
--color-body: hsl(224, 23%, 55%);
--color-heading: hsl(223, 47%, 23%) ;
--color-shadow: #a8aebc;
--color-focus: #766cf1;
}
html {
    
    font-family: 'Red Hat Display' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 62.5%;
}

/* typography */
body {
    font-size: 2rem; 
    color: var(--color-body) ;
}

h1 , h2 ,h3 {
    color: var(--color-heading);

}

h1 {
    font-size: 5rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}

@media screen and (min-width:1024px) {
    body {
        font-size: 1.2rem;
    }
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.6rem;
    }
}

 /* button */

 .btn {
     border-radius: 10px;
     border: 0;
     cursor: pointer;
     line-height: 1.5;
     outline: 0;
     padding: 2.2rem 6.6rem;
     text-align: center;
     width: 100%;
 }

 .btn-primary {
     background: var(--btn-blue);
     box-shadow: 0 0 50px 10px var(--color-shadow);
     color: var(--color-btn);
     font-weight: 700;
 }

 .btn:focus {
    background: var(--color-focus);
 }

 /* card */
.card {
    border-radius: 10px;
    border: 1px solid ;
    overflow: hidden;
    text-align: center;
   
}

.card__header {
    overflow: hidden;
    text-align: center; 
   
}

 .card__image {
     width: 100%;
 }

 /* plan */
 .plan {
     
     align-items: center;
     background: var(--color-btn);
     border-radius: 30px;
     justify-content: center;
     margin: 2rem ;
     padding: 2rem;
 }
 .plan__duration, 
 .plan__budget  
  {
     margin: 0;
     padding-bottom: 9px;
     vertical-align: middle;
 }
 
 .plan__image {
     align-self: center;
     height: 64px;
     width: 64px;
 }
 .plan__amount {
     align-self: center;
     font-weight: 500;
     justify-self: center;
     margin: 0;
     vertical-align: middle;
     width: 160%;
 }

 .plan__link {
     align-self: center;
     color: var(--btn-blue);
     font-weight: 700;
     width: 100%;
 }

 .grid {
     display: grid;
 }
 .grid1x3 {
     grid-template-columns: repeat(3 , 1fr);
 }