:root {
--color-plan: hsl(225, 100%, 94%);
--btn-blue: hsl(245, 75%, 52%);
--color-btn: hsl(225, 100%, 98%);
--color-body: hsl(224, 23%, 55%);
--color-heading: hsl(223, 47%, 23%) ;
--color-shadow: #a8aebc;
--color-focus: #766cf1;
}
html {
     font-family: 'Red Hat Display' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
   
}

/* typography */
body {
    font-size: 100%; 
    color: var(--color-body) ;
    background-image: url(/images/pattern-background-mobile.svg);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


h1 , h2 ,h3 {
    color: var(--color-heading);

}

h1 {
    font-size: 2.25rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 2rem;
}
p {
    font-size: 0.75rem;
}

@media screen and (min-width:768px) {
    body {
        
        background-image: url(/images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}
@media screen and (min-width:768px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.25rem;
    }
  
    p {
        font-size: 0.75rem;
    }
   }


    
    
   

  
 /* button */
 
 .btn {
     border-radius: 10px;
     border: 0;
     cursor: pointer;
     padding: 1rem 3rem;
     text-align: center;
     width: 100%; 
     white-space: nowrap;
    
    
    

 }

 .btn-primary {
     background: var(--btn-blue);
     box-shadow: 0 0 50px 10px var(--color-shadow);
     color: var(--color-btn);
     font-weight: 700;
 }

 .btn:hover {
    background: var(--color-focus);
 }

 .btn__link {
     box-sizing: border-box;
     justify-content: center;
 }



 

 /* card */
.card {
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    background-color: white;
    margin: 1rem;
  
    
    
   
}

.card__header {
    overflow: hidden;
    text-align: center; 
   
}

 .card__image {
     width: 100%;
 }

 .card__text {
     padding-left: 2rem;
     padding-right: 2rem;
     font-size: 1.2rem; 
     font-weight: 500;
 }



 /* plan */
 .plan {
    
     align-items: center;
     background: var(--color-btn);
     border-radius: 10px;
     padding: 0.7rem;
     margin: 0 2rem;
    
 }
 .plan__duration, 
 .plan__budget  
  {
     margin: 0;
     padding-bottom: 6px;
     vertical-align: middle;
     align-self: center;
 }
 
 .plan__image {
    padding-right: 10rem;
     height: 64px;
     width: 64px;
 }
 .plan__amount {
     align-self: center;
     font-weight: 900;
     justify-self: center;
     margin: 0;
     vertical-align: middle;
    
 }

 .plan__amount .plan__budget {
     font-size: 1rem;
     opacity: .8;
     font-weight: 500;
 }

 .plan__link {
     align-self: center;
     color: var(--btn-blue);
     font-weight: 700;
     width: 100%; 
     margin-left: 2px; 
   
     
      
 }
 .plan__link:hover {
     color: var(--color-focus);
 }

 .grid {
     display: grid;
     
 }
 .grid1x3 {
     grid-template-columns: 25% 50% 25%;
     
 }
 
 @media screen and (min-width:768px) {
     .plan__image {
         margin-right: 50rem;
         
     }
 }

 /* footer */

 .footer {
     padding: 2rem;
     justify-content: center;
     align-items: center;
 }
 .footer__text {
     font-weight: 900;
     margin-top: 1.5rem;
     font-size: 1rem;
 }

 @media screen and (min-width:768px) {
    .card {
        max-width: 325px;
        margin: 6rem auto;
    }
    .plan__duration {
        font-size: 1.1rem;
       align-self: center;
    }

}